<% provide(:title, 'About') %>
<h2>Enoki Logについてもっと知る</h2>
<div class="container section about">
	<div class="span8 offset2">
		<h3>名称由来とコンセプト</h3>
			<p>サービス名は「エノキログ」と読みます。榎（えのき）という樹木は、江戸時代、幕府によって一里ごとに植えられました。旅人が木陰で休憩したり、距離を把握できるようにするためです。Enoki Logは、榎が茂る一里塚のようなWEBアプリを目指して開発されました。ユーザーが日々の学習を記録して、一歩ずつ前進するお手伝いをします。
		<h3>関連リンク</h3>
		<ul>
			<li><%= link_to "Github Repository", "http://github.com/yuzutas0/enoki_log", :rel => 'nofollow' %></li>
				<p>学習中の身なので、問題点や改善点が多々あるかと思います。</br>
				ご指摘やForkをいただけると喜びます。</p>
			<li><%= link_to "Developer's Blog", "http://yuzutas0.hatenablog.com/archive/category/Enokilog", :rel => 'nofollow' %></li>
				<p>このサービスの開発背景についてエントリーを書きました。</br>
				適宜、アップデート情報をアナウンスする予定です。</p>
			<li><%= link_to "Developer's Twitter", "http://twitter.com/yuzutas0/", :rel => 'nofollow' %></li>
				<p>不具合等を発見された方は、お手数ですがTwitterにてご連絡ください。</br>
				その他、感想や改善アイデアも歓迎です。開発者のモチベーションが上がります。</p>
		</ul>
	</div>
</div>
