<div class="landing">
	<div class="container">
		<div class="center hero-unit">
		<h2>学習を記録しよう</h2>
		<p>Enoki Logは、学習の進捗を記録するサービスです。遠すぎるように思える目標でも、毎日１歩ずつ地道に進めることで、確実に達成へと近づくことができます。</p>
		<%= render 'static_pages/signup' %>
		</div>
	</div>
</div>
<div class="container">
	<div class="container section">
		<h2>Enoki Logの使い方</h2>
		<div class="row feature">
			<div class="span4">
				<i class="fa fa-calendar"></i>
				<h3>1.学習の計画</h3>
				<p>まずは、目標、期限、教材、そして１日当たりの学習内容を決めましょう。短い期間で１つの教材をマスターすることを心掛ければ、小さな成功体験を積むことができます。</p>
			</div>
			<div class="span4">
				<i class="fa fa-group"></i>
				<h3>2.周囲に共有</h3>
				<p>身の回りにいる人たちに学習計画を共有し、監督を依頼しましょう。ついつい自分に甘えて学習を疎かにしないように、他人を巻き込んで緊張感を保つことが大事です。</p>
			</div>
			<div class="span4">
				<i class="fa fa-line-chart"></i>
				<h3>3.進捗を管理</h3>
				<p>どこまで学習が進んだのか、継続的に記録・共有しましょう。分からなかった部分や、当初予定より遅れた理由を相談することで、周囲から助言が貰えるかもしれません。</p>
			</div>
		</div>
	</div>
	<div class="container section signup-message">
		<h2>誰でも無料・30秒で登録できます</h2>
		<div class="span8 offset2">
			<p>ユーザーごとに学習記録を管理するので、ご利用には登録が必要となります。</br>
			メールアドレスとパスワードを入力するだけで完了します。料金は一切掛かりません。</p>
		</div>
		<%= render 'static_pages/signup' %>
	</div>
</div>