<% provide(:title, "Resign") %>
<h1>アカウント削除</h1>
<div class="row">
	<div class="span6 offset3">
		<h2>１度削除したら二度と復元できません。</h2>
	</div>
</div>
<div class="row">
	<div class="span2 offset4">
		<%= link_to "削除する", @user, method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-large btn-danger" %>
	</div>
	<div class="span2">
		<%= link_to "キャンセル", current_user, class: "btn btn-large" %>
	</div>
</div>